.pop_up {
 width: 100%;
 height: 100%;
 position: fixed;
 left: 0;
 top: 10px;
 background-color: transparent;
 z-index: 2;
 transform: translateY(-44.5%) scale(0);
}

.pop_up.active {
 transform: translateY(0%) scale(100%);
 background-color: rgba(0, 0, 0, .8);
}

.pop_up_container {
 display: flex;
 width: 100%;
 height: 100%;
}

.pop_up_body {
 margin: auto;
 width: 500px;
 height: 440px;
 background-color: rgba(74, 74, 74, .7);
 border-radius: 15px;
 text-align: center;
 padding: 10px 15px 110px 15px;
 position: relative;
 z-index: 10000;
}
.pop_up_body input:focus {
 outline: none;
 border: 2px solid #00CED1;
 box-shadow: 0 0 0.8em #00CED1;
}

.pop_up_body p {
 font-size: 25px;
 font-weight: 600;
 color: #fff;
 margin-bottom: 40px;
}

.pop_up_body input {
 display: block;
 margin: 25px auto 0px auto;
 width: 330px;
 padding: 17px 20px;
 background-color: #E5E5E5;
 border-radius: 10px;
 border: none;
 border: #00CED1;
 font-weight: 500;
 font-size: 18px;
 color: black;
}

.pop_up_body button {
 cursor: pointer;
 display: block;
 width: 330px;
 margin: 60px auto 0px auto;
 padding: 20px 0px;
 font-weight: bold;
 font-size: 16px;
 border: none;
 color: #fff;
 border-radius: 10px;
 background-color: #00CED1;
}

.pop_up_close {
 position: relative;
 left: 210px;
 top: 10px;
 font-size: 21px;
 cursor: pointer;
 color: #fff;
}

.select-clicked {
 border: 2px #00CED1 solid;
 box-shadow: 0 0 0.8em #00CED1;
}

.small_popup {
    position: fixed; /* Фиксированная позиция */
    left: 0; /* Прижимаем к левому краю */
    bottom: 40px; /* Прижимаем к нижнему краю */
    width: 300px; /* Ширина окна */
    height: 25px; /* Высота окна */
    background-color: #1efc86; /* Цвет фона */
    border-radius: 5px; /* Скругление углов */
    padding: 0 0 10px 0; /* Внутренние отступы */
  
    z-index: 100000; /* Убедитесь, что окно будет поверх других элементов */
    color: #fff; /* Цвет текста */
    font-size: 14px; /* Размер шрифта */
    text-align: center; /* Выравнивание текста по центру */
    white-space: nowrap;
    opacity: 0;
    cursor: default;
  }
  
  .small_popup p {
    font-size: 16px;
    color: black;
    font-weight: 500;
  }
  
  .small_popup.started {
    opacity: 1;
  }
  
  .small_popup::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #002f1f;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  /* Класс для запуска анимации */
  .small_popup.shrink::after {
    animation: shrink 3s linear forwards;
  }
  
  @keyframes shrink {
    to {
      width: 0; /* Уменьшаем ширину полоски до 0 */
    }
  }